h1 {
    color: rgb(236, 236, 232);
    text-align: center;
    background-color: black;
    
}

.div1 {
    font-size: xx-large;
    position: relative;
    background-color: black;
    color: aliceblue;
    text-align:center
    
}

.div2 {
    text-align: center;
    color: rgb(241, 245, 245);
    font-size: xx-large;
    background-color: rgb(243, 13, 13)
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    background-color: rgb(20, 153, 241);
    font-weight: bolder;
    color: brown;
    font-size: x-large;

}
 


